$font-path: '/fonts/';

$font-inter-thin: 'Inter-UI-Thin.otf';
$font-inter-extralight: 'Inter-UI-Extralight.otf';
$font-inter-light: 'Inter-UI-Light.otf';
$font-inter-regular: 'Inter-UI-Normal.otf';
$font-inter-medium: 'Inter-UI-Medium.otf';
$font-inter-semibold: 'Inter-UI-Semibold.otf';
$font-inter-bold: 'Inter-UI-Bold.otf';
$font-inter-extrabold: 'Inter-UI-Extrabold.otf';
$font-inter-black: 'Inter-UI-Black.otf';


$font-url-inter-thin: url('#{$font-path}#{$font-inter-thin}') format('opentype');
$font-url-inter-extralight: url('#{$font-path}#{$font-inter-extralight}') format('opentype');
$font-url-inter-light: url('#{$font-path}#{$font-inter-light}') format('opentype');
$font-url-inter-regular: url('#{$font-path}#{$font-inter-regular}') format('opentype');
$font-url-inter-medium: url('#{$font-path}#{$font-inter-medium}') format('opentype');
$font-url-inter-semibold: url('#{$font-path}#{$font-inter-semibold}') format('opentype');
$font-url-inter-bold: url('#{$font-path}#{$font-inter-bold}') format('opentype');
$font-url-inter-extrabold: url('#{$font-path}#{$font-inter-extrabold}') format('opentype');
$font-url-inter-black: url('#{$font-path}#{$font-inter-black}') format('opentype');


@font-face {
    font-family: 'Inter Thin';
    src: local('Inter'),
    #{$font-url-inter-thin};
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter Extra Light';
    src: local('Inter'),
    #{$font-url-inter-extralight};
    font-weight: 200;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Inter Light';
    src: local('Inter'),
    #{$font-url-inter-light};
    font-weight: 300;
    font-style: normal;
  }


@font-face {
  font-family: 'Inter Regular';
  src: local('Inter'),
  #{$font-url-inter-regular};
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Inter  Medium';
    src: local('Inter'),
    #{$font-url-inter-medium};
    font-weight: 500;
    font-style: normal;
  }
  
  



@font-face {
  font-family: 'Inter Semibold';
  src: local('Inter'),
  #{$font-url-inter-semibold};
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Inter bold';
  src: local('Inter'),
  #{$font-url-inter-bold};
  font-weight: 700;
  font-style: normal;
}


@font-face {
    font-family: 'Inter Extra Bold';
    src: local('Inter'),
    #{$font-url-inter-extrabold};
    font-weight: 800;
    font-style: normal;
  }


  
@font-face {
    font-family: 'Inter black';
    src: local('Inter'),
    #{$font-url-inter-black};
    font-weight: 900;
    font-style: normal;
  }
  
  
