.ant-input{
    border-radius: px-to-rem(18px) !important;
    padding: px-to-rem(10px 20px 10px 20px) !important;
} 


.ant-collapse-expand-icon {
    & .ant-collapse-arrow{
        display: none !important;
    }
}

.ant-dropdown-menu {
    margin-top: 20px !important;
    border-radius: 20px;
    & .ant-dropdown-menu-item{
    &:hover{
        background-color: white !important;
    }
    }
  }