.ant-input{
    border-radius: px-to-rem(18px) !important;
    padding: px-to-rem(10px 20px 10px 20px) !important;
} 


.ant-collapse-expand-icon {
    & .ant-collapse-arrow{
        display: none !important;
    }
}

.ant-dropdown-menu {
    margin-top: 20px !important;
    border-radius: 20px;
    & .ant-dropdown-menu-item{
    &:hover{
        background-color: white !important;
    }
    }
  }

  .ant-tabs-tab{
    color: var(--primary-forest-green) !important;
    @include text-style(18px, 18px, $font-weight-semibold, $font-family-semibold)
  }


  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: darken($primary-forest-green, 15%) !important;
    text-shadow: 0 0 0.25px currentcolor;
  }