:root {
  /* Primary Colors */
  --primary-black: black;
  --white: #fff;
  --primary-red: #e31c3d;
  --primary-blue: #216fed;
  --primary-dark-blue: #1b1e3e;
  --primary-grey: #5d6180;
  --primary-forest-green: #50a020;
  --primary-hover-grey: #f5f5f5;


  /* Secondary Colors */
  --secondary-grey: #00000029;


  /* UI Gradient */


  /* Other Colors */

}

/* color */
$primary-blue: #216fed;
$primary-red: #e31c3d;
$primary-forest-green: #50a020;
$primary-hover-grey: #f5f5f5;

// Define your base font size
$base-font-size: 16px;
$base-line-height: 16px;
// Font families
$font-family-thin: 'Inter Thin', sans-serif;
$font-family-extralight: 'Inter Extra Light', sans-serif;
$font-family-light: 'Inter Light', sans-serif;
$font-family-regular: 'Inter Regular', sans-serif;
$font-family-medium: 'Inter Medium', sans-serif;
$font-family-semibold: 'Inter Semibold', sans-serif;
$font-family-bold: 'Inter Bold', sans-serif;
$font-family-extrabold: 'Inter Extra Bold', sans-serif;
$font-family-black: 'Inter Black', sans-serif;



// Define font weights
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;
$box-sizing-border: border-box;
// Define breakpoints
$breakpoints: (
  sm: 540px,
  // Small (SM) breakpoint
  md: 768px,
  // Medium (MD) breakpoint
  lg: 992px,
  // Large (LG) breakpoint
  xl: 1200px // Extra Large (XL) breakpoint,,,
);