@import './mixins';
@import './fonts';
@import './variables';
@import './override';
@import './iconmoon.scss';
@import './navbar/index.scss';
@import './home/index.scss';
@import './footer/index.scss';



// Define font weights
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// Define font family
$font-family-thin: 'Inter Thin', sans-serif;
$font-family-extralight: 'Inter Extra Light', sans-serif;
$font-family-light: 'Inter Light', sans-serif;
$font-family-regular: 'Inter Regular', sans-serif;
$font-family-medium: 'Inter Medium', sans-serif;
$font-family-semibold: 'Inter Semibold', sans-serif;
$font-family-bold: 'Inter Bold', sans-serif;
$font-family-extrabold: 'Inter Extra Bold', sans-serif;
$font-family-black: 'Inter Black', sans-serif;

body {
  font-family: $font-family-regular;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  height:100%;
}


//Usage
.h-10 {
  &.thin {
    @include text-style(10px, 12px, $font-weight-thin, $font-family-thin);
  }

  &.extralight {
    @include text-style(
      10px,
      12px,
      $font-weight-extralight,
      $font-family-extralight
    );
  }

  &.light {
    @include text-style(10px, 12px, $font-weight-light, $font-family-light);
  }

  &.regular {
    @include text-style(10px, 12px, $font-weight-regular, $font-family-regular);
  }

  &.medium {
    @include text-style(10px, 12px, $font-weight-medium, $font-family-medium);
  }

  &.semibold {
    @include text-style(
      10px,
      12px,
      $font-weight-semibold,
      $font-family-semibold
    );
  }

  &.bold {
    @include text-style(10px, 12px, $font-weight-bold, $font-family-bold);
  }

  &.extrabold {
    @include text-style(
      10px,
      12px,
      $font-weight-extrabold,
      $font-family-extrabold
    );
  }

  &.black {
    @include text-style(10px, 12px, $font-weight-black, $font-family-black);
  }
}

.h-11 {
  &.thin {
    @include text-style(11px, 18px, $font-weight-thin, $font-family-thin);
  }

  &.extralight {
    @include text-style(
      11px,
      18px,
      $font-weight-extralight,
      $font-family-extralight
    );
  }

  &.light {
    @include text-style(11px, 18px, $font-weight-light, $font-family-light);
  }

  &.regular {
    @include text-style(11px, 18px, $font-weight-regular, $font-family-regular);
  }

  &.medium {
    @include text-style(11px, 18px, $font-weight-medium, $font-family-medium);
  }

  &.semibold {
    @include text-style(
      11px,
      18px,
      $font-weight-semibold,
      $font-family-semibold
    );
  }

  &.bold {
    @include text-style(11px, 18px, $font-weight-bold, $font-family-bold);
  }

  &.extrabold {
    @include text-style(
      11px,
      18px,
      $font-weight-extrabold,
      $font-family-extrabold
    );
  }

  &.black {
    @include text-style(11px, 18px, $font-weight-black, $font-family-black);
  }
}

.h-12 {
  &.thin {
    @include text-style(12px, 18px, $font-weight-thin, $font-family-thin);
  }

  &.extralight {
    @include text-style(
      12px,
      18px,
      $font-weight-extralight,
      $font-family-extralight
    );
  }

  &.light {
    @include text-style(12px, 18px, $font-weight-light, $font-family-light);
  }

  &.regular {
    @include text-style(12px, 18px, $font-weight-regular, $font-family-regular);
  }

  &.medium {
    @include text-style(12px, 18px, $font-weight-medium, $font-family-medium);
  }

  &.semibold {
    @include text-style(
      12px,
      18px,
      $font-weight-semibold,
      $font-family-semibold
    );
  }

  &.bold {
    @include text-style(12px, 18px, $font-weight-bold, $font-family-bold);
  }

  &.extrabold {
    @include text-style(
      12px,
      18px,
      $font-weight-extrabold,
      $font-family-extrabold
    );
  }

  &.black {
    @include text-style(12px, 18px, $font-weight-black, $font-family-black);
  }
}

.h-13 {
  &.thin {
    @include text-style(13px, 16px, $font-weight-thin, $font-family-thin);
  }

  &.extralight {
    @include text-style(
      13px,
      16px,
      $font-weight-extralight,
      $font-family-extralight
    );
  }

  &.light {
    @include text-style(13px, 16px, $font-weight-light, $font-family-light);
  }

  &.regular {
    @include text-style(13px, 16px, $font-weight-regular, $font-family-regular);
  }

  &.medium {
    @include text-style(13px, 16px, $font-weight-medium, $font-family-medium);
  }

  &.semibold {
    @include text-style(
      13px,
      16px,
      $font-weight-semibold,
      $font-family-semibold
    );
  }

  &.bold {
    @include text-style(13px, 16px, $font-weight-bold, $font-family-bold);
  }

  &.extrabold {
    @include text-style(
      13px,
      16px,
      $font-weight-extrabold,
      $font-family-extrabold
    );
  }

  &.black {
    @include text-style(13px, 16px, $font-weight-black, $font-family-black);
  }
}

.h-14 {
  &.thin {
    @include text-style(14px, 18px, $font-weight-thin, $font-family-thin);
  }

  &.extralight {
    @include text-style(
      14px,
      18px,
      $font-weight-extralight,
      $font-family-extralight
    );
  }

  &.light {
    @include text-style(14px, 18px, $font-weight-light, $font-family-light);
  }

  &.regular {
    @include text-style(14px, 18px, $font-weight-regular, $font-family-regular);
  }

  &.medium {
    @include text-style(14px, 18px, $font-weight-medium, $font-family-medium);
  }

  &.semibold {
    @include text-style(
      14px,
      18px,
      $font-weight-semibold,
      $font-family-semibold
    );
  }

  &.bold {
    @include text-style(14px, 18px, $font-weight-bold, $font-family-bold);
  }

  &.extrabold {
    @include text-style(
      14px,
      18spx,
      $font-weight-extrabold,
      $font-family-extrabold
    );
  }

  &.black {
    @include text-style(14px, 18px, $font-weight-black, $font-family-black);
  }
}

.h-16 {
  &.thin {
    @include text-style(16px, 18px, $font-weight-thin, $font-family-thin);
  }

  &.extralight {
    @include text-style(
      16px,
      18px,
      $font-weight-extralight,
      $font-family-extralight
    );
  }

  &.light {
    @include text-style(16px, 18px, $font-weight-light, $font-family-light);
  }

  &.regular {
    @include text-style(16px, 18px, $font-weight-regular, $font-family-regular);
  }

  &.medium {
    @include text-style(16px, 18px, $font-weight-medium, $font-family-medium);
  }

  &.semibold {
    @include text-style(
      16px,
      18px,
      $font-weight-semibold,
      $font-family-semibold
    );
  }

  &.bold {
    @include text-style(16px, 18px, $font-weight-bold, $font-family-bold);
  }

  &.extrabold {
    @include text-style(
      16px,
      18spx,
      $font-weight-extrabold,
      $font-family-extrabold
    );
  }

  &.black {
    @include text-style(16px, 18px, $font-weight-black, $font-family-black);
  }
}

.h-18 {
  &.thin {
    @include text-style(18px, 20px, $font-weight-thin, $font-family-thin);
  }

  &.extralight {
    @include text-style(
      18px,
      20px,
      $font-weight-extralight,
      $font-family-extralight
    );
  }

  &.light {
    @include text-style(18px, 20px, $font-weight-light, $font-family-light);
  }

  &.regular {
    @include text-style(18px, 20px, $font-weight-regular, $font-family-regular);
  }

  &.medium {
    @include text-style(18px, 20px, $font-weight-medium, $font-family-medium);
  }

  &.semibold {
    @include text-style(
      18px,
      20px,
      $font-weight-semibold,
      $font-family-semibold
    );
  }

  &.bold {
    @include text-style(18px, 20px, $font-weight-bold, $font-family-bold);
  }

  &.extrabold {
    @include text-style(
      18px,
      20px,
      $font-weight-extrabold,
      $font-family-extrabold
    );
  }

  &.black {
    @include text-style(18px, 20px, $font-weight-black, $font-family-black);
  }
}

.h-22 {
  &.thin {
    @include text-style(22px, 40px, $font-weight-thin, $font-family-thin);
  }

  &.extralight {
    @include text-style(
      22px,
      40px,
      $font-weight-extralight,
      $font-family-extralight
    );
  }

  &.light {
    @include text-style(22px, 40px, $font-weight-light, $font-family-light);
  }

  &.regular {
    @include text-style(22px, 40px, $font-weight-regular, $font-family-regular);
  }

  &.medium {
    @include text-style(22px, 40px, $font-weight-medium, $font-family-medium);
  }

  &.semibold {
    @include text-style(
      22px,
      40px,
      $font-weight-semibold,
      $font-family-semibold
    );
  }

  &.bold {
    @include text-style(22px, 40px, $font-weight-bold, $font-family-bold);
  }

  &.extrabold {
    @include text-style(
      22px,
      40px,
      $font-weight-extrabold,
      $font-family-extrabold
    );
  }

  &.black {
    @include text-style(22px, 40px, $font-weight-black, $font-family-black);
  }
}

.h-26 {
  &.thin {
    @include text-style(26px, 40px, $font-weight-thin, $font-family-thin);
  }

  &.extralight {
    @include text-style(
      26px,
      40px,
      $font-weight-extralight,
      $font-family-extralight
    );
  }

  &.light {
    @include text-style(26px, 40px, $font-weight-light, $font-family-light);
  }

  &.regular {
    @include text-style(26px, 40px, $font-weight-regular, $font-family-regular);
  }

  &.medium {
    @include text-style(26px, 40px, $font-weight-medium, $font-family-medium);
  }

  &.semibold {
    @include text-style(
      26px,
      40px,
      $font-weight-semibold,
      $font-family-semibold
    );
  }

  &.bold {
    @include text-style(26px, 40px, $font-weight-bold, $font-family-bold);
  }

  &.extrabold {
    @include text-style(
      26px,
      40px,
      $font-weight-extrabold,
      $font-family-extrabold
    );
  }

  &.black {
    @include text-style(26px, 40px, $font-weight-black, $font-family-black);
  }
}

.h-46 {
  &.thin {
    @include text-style(46px, 60px, $font-weight-thin, $font-family-thin);
  }

  &.extralight {
    @include text-style(
      46px,
      60px,
      $font-weight-extralight,
      $font-family-extralight
    );
  }

  &.light {
    @include text-style(46px, 60px, $font-weight-light, $font-family-light);
  }

  &.regular {
    @include text-style(46px, 60px, $font-weight-regular, $font-family-regular);
  }

  &.medium {
    @include text-style(46px, 60px, $font-weight-medium, $font-family-medium);
  }

  &.semibold {
    @include text-style(
      46px,
      60px,
      $font-weight-semibold,
      $font-family-semibold
    );
  }

  &.bold {
    @include text-style(46px, 60px, $font-weight-bold, $font-family-bold);
  }

  &.extrabold {
    @include text-style(
      46px,
      60px,
      $font-weight-extrabold,
      $font-family-extrabold
    );
  }

  &.black {
    @include text-style(46px, 60px, $font-weight-black, $font-family-black);
  }
}

.h-31 {
  &.thin {
    @include text-style(31px, 37px, $font-weight-thin, $font-family-thin);
  }

  &.extralight {
    @include text-style(
      31px,
      37px,
      $font-weight-extralight,
      $font-family-extralight
    );
  }

  &.light {
    @include text-style(31px, 37px, $font-weight-light, $font-family-light);
  }

  &.regular {
    @include text-style(31px, 37px, $font-weight-regular, $font-family-regular);
  }

  &.medium {
    @include text-style(31px, 37px, $font-weight-medium, $font-family-medium);
  }

  &.semibold {
    @include text-style(
      31px,
      37px,
      $font-weight-semibold,
      $font-family-semibold
    );
  }

  &.bold {
    @include text-style(31px, 37px, $font-weight-bold, $font-family-bold);
  }

  &.extrabold {
    @include text-style(
      31px,
      37px,
      $font-weight-extrabold,
      $font-family-extrabold
    );
  }

  &.black {
    @include text-style(31px, 37px, $font-weight-black, $font-family-black);
  }
}

.h-80 {
  &.thin {
    @include text-style(80px, 80px, $font-weight-thin, $font-family-thin);
  }

  &.extralight {
    @include text-style(
      80px,
      80px,
      $font-weight-extralight,
      $font-family-extralight
    );
  }

  &.light {
    @include text-style(80px, 80px, $font-weight-light, $font-family-light);
  }

  &.regular {
    @include text-style(80px, 80px, $font-weight-regular, $font-family-regular);
  }

  &.medium {
    @include text-style(80px, 80px, $font-weight-medium, $font-family-medium);
  }

  &.semibold {
    @include text-style(
      80px,
      80px,
      $font-weight-semibold,
      $font-family-semibold
    );
  }

  &.bold {
    @include text-style(80px, 80px, $font-weight-bold, $font-family-bold);
  }

  &.extrabold {
    @include text-style(
      80px,
      80px,
      $font-weight-extrabold,
      $font-family-extrabold
    );
  }

  &.black {
    @include text-style(80px, 80px, $font-weight-black, $font-family-black);
  }
}

.w-100 {
  width: 100%;
}

.w-0 {
  width: 0px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.custom-btn{
  min-width: px-to-rem(100px);
  max-width: fit-content;
  box-sizing: border-box;
  padding: px-to-rem(16px 30px);
  color: var(--white);
  @include text-style(16px, 12px, $font-weight-regular, $font-family-regular);
  border-radius: px-to-rem(22px);
  outline: none;
  text-align: center;
  border:0;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  cursor:pointer;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all .3s;
    z-index: -1;
  }
}

.custom-btn--primary{
   background-color: var(--primary-blue);
   z-index: 1;
 
   &:before {
     background-color: darken($primary-blue, 15%);
   }
   &:hover {
     color: var(--white);
     &:before {
       width: 100%;
     }
   }
}

.custom-btn--danger{
  background-color: var(--primary-red);

  z-index: 1;
 
   &:before {
     background-color: darken($primary-red, 15%);
   }
   &:hover {
     color: var(--white);
     &:before {
       width: 100%;
     }
   }
}

.custom-btn--success{
  background-color: var(--primary-forest-green);

  z-index: 1;
 
   &:before {
     background-color: darken($primary-forest-green, 15%);
   }
   &:hover {
     color: var(--white);
     &:before {
       width: 100%;
     }
   }
}

a{
  color: var(--black) !important;
  text-decoration: none !important;
}

.svg-container {
  display: flex;
  flex: 0 0 auto;
  width: px-to-rem(16px);
  height: px-to-rem(16px);
  color: var(--primary-dark-blue);
}

.txt-danger{
  color: var(--primary-red)
}

.txt-primary{
  color: var(--primary-blue)
}

.txt-secondary{
  color: var(--primary-grey)
}


.txt-success{
  color: var(--primary-forest-green)
}

.hover-danger:hover{
  color: var(--primary-red)
}


.bg-danger{
  background-color: var(--primary-red)
}

.bg-primary{
  background-color: var(--primary-blue)
}

.bg-secondary{
  background-color: var(--primary-grey)
}


.bg-success{
  background-color: var(--primary-forest-green)
}

.cp{
  cursor: pointer;
}



.fade-in {
  animation: fadeIn linear 0.5s;
  transform: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }
}


.fade-in-1{
  animation: fadeIn-1 linear 0.5s;
  animation-delay: 0.2s;
  transform: none;
  opacity: 1;
}

@keyframes fadeIn-1 {
  0% {
    opacity: 0;
    transform: translateY(30px);
    visibility: hidden;

  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }
}



.fade-in-2{
  animation: fadeIn-2 linear 0.5s;
  animation-delay: 0.4s;
  transform: none;

}

@keyframes fadeIn-2 {
  0% {
    opacity: 0;
    transform: translateY(30px);
    visibility: hidden;

  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }
}


.fade-in-3{
  animation: fadeIn-3 linear 0.5s;
  animation-delay: 0.6s;
  transform: none;
}

@keyframes fadeIn-3 {
  0% {
    opacity: 0;
    transform: translateY(30px);
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }
}

.is-visible {
  transform: none;
  visibility: hidden;
}





.head {
  width: 100px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 150px;
  background: var(--primary-blue);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: auto;
  z-index: 1;
}

.face {
  width: 65px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 150px;
  background: #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: auto;
  z-index: 2;
}

.right-eye {
  position: absolute;
  top: 0;
  left: 0;
  right: 25px;
  bottom: 150px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--primary-blue);
  z-index: 3;
  margin: auto;
}

.left-eye {
  position: absolute;
  top: 0;
  left: 25px;
  right: 0;
  bottom: 150px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: blue;
  z-index: 3;
  margin: auto;
}

.body {
  width: 115px;
  height: 120px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-blue);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin: auto;
  z-index: 1;
}

.left-arm {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 230px;
  bottom: 25px;
  background: var(--primary-blue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 10px;
  margin: auto;
  animation: hand 2s linear infinite;
}

.right-arm {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 50px;
  left: 130px;
  right: 0;
  bottom: 0;
  background: var(--primary-blue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 50px;
  margin: auto;
  transform: rotatez(90deg);
}

@keyframes hand {
  0% {
    transform: translatey(-40px) rotatez(45deg);
  }
  50% {
    transform: translatey(0px) rotatez(-0deg);
  }
  100% {
    transform: translatey(-40px) rotatez(45deg);
  }
}


.transit-left{
  animation: transit-left linear 0.5s;
}

@keyframes transit-left {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }

  100%{
    transform: translateX(0);
    opacity: 1;
  }
  
}

.transit-right{
  animation: transit-right linear 0.5s;
}

@keyframes transit-right {
  0%{
    transform: translateX(100px);
    opacity: 0;
  }

  100%{
    transform: translateX(0);
    opacity: 1;
  }
  
}


